@font-face {
    font-family: 'AvenirNextLTProBold';
    src: url('../fonts/AvenirNextLTProBold.eot');
    src: url('../fonts/AvenirNextLTProBold.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextLTProBold.woff2') format('woff2'),
         url('../fonts/AvenirNextLTProBold.woff') format('woff'),
         url('../fonts/AvenirNextLTProBold.ttf') format('truetype'),
         url('../fonts/AvenirNextLTProBold.svg#AvenirNextLTProBold') format('svg');
}

@font-face {
    font-family: 'AvenirNextLTProDemi';
    src: url('../fonts/AvenirNextLTProDemi.eot');
    src: url('../fonts/AvenirNextLTProDemi.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextLTProDemi.woff2') format('woff2'),
         url('../fonts/AvenirNextLTProDemi.woff') format('woff'),
         url('../fonts/AvenirNextLTProDemi.ttf') format('truetype'),
         url('../fonts/AvenirNextLTProDemi.svg#AvenirNextLTProDemi') format('svg');
}
@font-face {
    font-family: 'AvenirNextLTProHeavy';
    src: url('../fonts/AvenirNextLTProHeavy.eot');
    src: url('../fonts/AvenirNextLTProHeavy.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextLTProHeavy.woff2') format('woff2'),
         url('../fonts/AvenirNextLTProHeavy.woff') format('woff'),
         url('../fonts/AvenirNextLTProHeavy.ttf') format('truetype'),
         url('../fonts/AvenirNextLTProHeavy.svg#AvenirNextLTProHeavy') format('svg');
}
@font-face {
    font-family: 'AvenirNextLTProCn';
    src: url('../fonts/AvenirNextLTProCn.eot');
    src: url('../fonts/AvenirNextLTProCn.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextLTProCn.woff2') format('woff2'),
         url('../fonts/AvenirNextLTProCn.woff') format('woff'),
         url('../fonts/AvenirNextLTProCn.ttf') format('truetype'),
         url('../fonts/AvenirNextLTProCn.svg#AvenirNextLTProCn') format('svg');
}
@font-face {
    font-family: 'AvenirNextLTProRegular';
    src: url('../fonts/AvenirNextLTProRegular.eot');
    src: url('../fonts/AvenirNextLTProRegular.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextLTProRegular.woff2') format('woff2'),
         url('../fonts/AvenirNextLTProRegular.woff') format('woff'),
         url('../fonts/AvenirNextLTProRegular.ttf') format('truetype'),
         url('../fonts/AvenirNextLTProRegular.svg#AvenirNextLTProRegular') format('svg');
}
@font-face{font-family:Effra_Bd;src:url(../fonts/Effra_Bd.eot);src:url(../fonts/Effra_Bd.eot) format('embedded-opentype'),
url(../fonts/Effra_Bd.woff2) format('woff2'),
url(../fonts/Effra_Bd.woff) format('woff'),
url(../fonts/Effra_Bd.ttf) format('truetype'),
url(../onts/Effra_Bd.svg#Effra_Bd) format('svg')
}
@font-face{font-family:Effra_He;src:url(../fonts/Effra_He.eot);src:url(../fonts/Effra_He.eot) format('embedded-opentype'),
url(../fonts/Effra_He.woff2) format('woff2'),
url(../fonts/Effra_He.woff) format('woff'),
url(fonts/Effra_He.ttf) format('truetype'),
url(../fonts/Effra_He.svg#Effra_He) format('svg')
}
@font-face{font-family:Effra_It;src:url(../fonts/Effra_It.eot);src:url(../fonts/Effra_It.eot) format('embedded-opentype'),
url(../fonts/Effra_It.woff2) format('woff2'),
url(../fonts/Effra_It.woff) format('woff'),
url(../fonts/Effra_It.ttf) format('truetype'),
url(../fonts/Effra_It.svg#Effra_It) format('svg')
}
@font-face{font-family:Effra_Md;src:url(../fonts/Effra_Md.eot);src:url(../fonts/Effra_Md.eot) format('embedded-opentype'),
url(../fonts/Effra_Md.woff2) format('woff2'),
url(../fonts/Effra_Md.woff) format('woff'),
url(../fonts/Effra_Md.ttf) format('truetype'),
url(../fonts/Effra_Md.svg#Effra_Md) format('svg')
}
@font-face{font-family:Effra_Rg;src:url(../fonts/Effra_Rg.eot);src:url(../fonts/Effra_Rg.eot) format('embedded-opentype'),
url(../fonts/Effra_Rg.woff2) format('woff2'),
url(../fonts/Effra_Rg.woff) format('woff'),
url(../fonts/Effra_Rg.ttf) format('truetype'),
url(../fonts/Effra_Rg.svg#Effra_Rg) format('svg')
}
@font-face{font-family:Effra_Lt;src:url(../fonts/Effra_Lt.eot);src:url(../fonts/Effra_Lt.eot) format('embedded-opentype'),
url(../fonts/Effra_Lt.woff2) format('woff2'),
url(../fonts/Effra_Lt.woff) format('woff'),
url(../fonts/Effra_Lt.ttf) format('truetype'),
url(../fonts/Effra_Lt.svg#Effra_Lt) format('svg')
}
@font-face{font-family:Magpie_Bd;src:url(../fonts/Magpie_Bd.eot);src:url(../fonts/Magpie_Bd.eot) format('embedded-opentype'),
url(../fonts/Magpie_Bd.woff2) format('woff2'),
url(../fonts/Magpie_Bd.woff) format('woff'),
url(../fonts/Magpie_Bd.ttf) format('truetype'),
url(../fonts/Magpie_Bd.svg#Magpie_Bd) format('svg')
}
@font-face{font-family:Magpie_Rg;src:url(../fonts/Magpie_Rg.eot);src:url(../fonts/Magpie_Rg.eot) format('embedded-opentype'),
url(../fonts/Magpie_Rg.woff2) format('woff2'),
url(../fonts/Magpie_Rg.woff) format('woff'),
url(../fonts/Magpie_Rg.ttf) format('truetype'),
url(../fonts/Magpie_Rg.svg#Magpie_Rg) format('svg')
}

