@charset "utf-8";
*{
	margin:0;
	padding:0;
	outline:0;
}
.flt{
	float:left;
}
.flr{
	float:right;
}
.clr{
	clear:both;
}
body{
	background:url(../images/body-bg.jpg) repeat-y top center;
	font-family: 'AvenirNextLTProRegular';
}

header{
	padding:20px 0;
}
.trigger{
	padding-top:20px;
}

.logo{
	text-align:center;
}


.call{
	background:url(../images/call.png) no-repeat center left;
}
.qot{
	background:url(../images/qot.png) no-repeat center left;
}

.header-right{}
.header-right ul{ text-align:right;}
.header-right ul li:first-child{
	width:60%;
}
.header-right ul li:last-child{
	width:40%;
}
.header-right ul li{ display:inline-block; vertical-align:middle; width:50%; margin-left:-4px; padding-left:20px; font-size:15px; font-family:Effra_Rg; color:#231f20; }
.header-right ul li span{  padding:15px 0 15px 32px; display:inline-block; vertical-align:middle;}
.header-right ul li a{text-decoration:none; font-size:15px; font-family:Effra_Rg; color:#231f20;}


